/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  outline: none;
  color: black;
}
button {
  outline: none;
  cursor: pointer;
  background: transparent;
  border: none;
  /*Remove dotted rectangle around button*/
}
button::-moz-focus-inner {
  border: 0;
}
input {
  border: none;
  outline: none;
  font-family: 'PT Sans', sans-serif;
}
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}
/*Colors*/
/*End colors*/
/*Fonts*/
/*Construction elements*/
.container {
  margin: 0 auto;
  width: 1090px;
}
.clearfix:after {
  display: table;
  content: '';
  clear: both;
}
/*End construction elements*/
/*Element properties*/
.border-thick {
  border: 3px solid #000000;
}
.border-thin {
  border: 1px solid #000000;
}
.nav-border {
  height: 4px;
  background: #000000;
}
/*End element properties*/
/*Hover effects, manipulations, miscellaneous and other*/
.red-hover:hover {
  color: #ed1c24;
}
.social-hover {
  transition: all .2s ease;
  transform: scale(1);
}
.social-hover:hover {
  transition: all .2s ease;
  transform: scale(1.1);
}
.article-preview-hover {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  transition: transform .5s ease;
}
.article-preview-hover:hover {
  -webkit-transform: scale3d(1.2, 1.2, 1);
  transform: scale3d(1.2, 1.2, 1);
  transition: transform .5s ease;
}
.best-videos-preview img {
  transition: opacity 0.7s ease-in-out;
}
.best-videos-preview .round {
  opacity: .5;
  transition: opacity .1s ease;
}
.best-videos-preview:hover img {
  background: #ffcc0d;
  opacity: 0.5;
  transition: opacity 0.7s ease-in-out;
}
.best-videos-preview:hover .round {
  opacity: 1;
  transition: opacity .1s ease;
}
.visible {
  opacity: 1;
  transition: opacity .6s ease;
}
.invisible {
  opacity: 0;
  transition: opacity .6s ease;
}
.red-arrow:after {
  display: block;
  content: '';
  opacity: 0;
  position: absolute;
  left: 35%;
  bottom: 0;
  z-index: 100;
  width: 0;
  border-width: 0 10px 10px;
  border-style: solid;
  border-color: transparent transparent #ed1c24;
}
.red-arrow:last-of-type:after {
  left: 40%;
}
.search-input {
  position: relative;
  z-index: 1;
  right: -100%;
  padding-left: 1.1em;
  max-width: 160px;
  height: 50px;
  letter-spacing: 0.2em;
  font-size: 1.8rem;
  background-color: #dcddd8;
  transition: all .3s;
}
.show-input {
  right: 0;
  transition: all .3s;
}
.page-wrap {
  position: relative;
  overflow: hidden;
}
.page-box {
  transition: all .5s ease;
}
.page-box:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity .5s ease;
}
.transformed-content {
  transition: all .5s ease;
  transform: translate3d(45%, 0, 0);
}
.transformed-content:after {
  opacity: 1;
  transition: opacity 0.5s ease;
}
.offcanvas {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 45%;
  background: #242628;
  box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.5);
  color: #8c919b;
  transition: transform .5s ease;
  transform: translate3d(-101%, 0, 0);
}
.offcanvas a {
  color: inherit;
}
.offcanvas input {
  margin: 1px 2%;
  padding-left: .5em;
  width: 96%;
  background: #cccccc;
  font-size: 1.8rem;
  line-height: 1.66;
}
.offcanvas li {
  border-bottom: 1px solid #343133;
}
.offcanvas li a {
  display: block;
  padding: 1.5em 2%;
  font-size: 1.2rem;
  font-family: 'Arial', sans-serif;
  letter-spacing: 0.2em;
}
.offcanvas li a:hover {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.1);
}
.offcanvas .fa-chevron-down {
  padding-left: 5px;
}
.offcanvas .offcanvas-dropdown {
  display: none;
  position: relative;
}
.offcanvas .offcanvas-dropdown a {
  padding: 1.2em 3em;
}
.show-offcanvas {
  transition: transform .5s ease;
  transform: translate3d(0, 0, 0);
}
.placeholder-custom::-webkit-input-placeholder {
  color: #000000;
}
.placeholder-custom::-moz-placeholder {
  color: #000000;
}
.placeholder-custom:-ms-input-placeholder {
  color: #000000;
}
.placeholder-custom:-moz-placeholder {
  color: #000000;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}
.modal .inner-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
}
.subscribe-modal .inner-modal {
  width: 850px;
  padding: 20px;
  color: #444444;
}
.subscribe-modal .inner-modal h3 {
  text-align: center;
  font-size: 1.8rem;
}
.subscribe-modal .inner-modal .send-email {
  display: flex;
  justify-content: center;
}
.subscribe-modal .inner-modal .send-email input {
  width: 40%;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #cccccc;
  font-size: 1.8rem;
}
.subscribe-modal .inner-modal .send-email button {
  position: relative;
  padding: 0 2.1em;
  letter-spacing: 0.2em;
  font-size: 1.2rem;
  border: 1px solid #000000;
}
.subscribe-modal .inner-modal .send-email button:hover {
  box-shadow: 1px 1px 0 #000000;
}
.subscribe-modal .inner-modal .send-email button:active {
  top: 1px;
}
.subscribe-modal .inner-modal .close-modal {
  padding: 4px 6px;
  position: absolute;
  top: 17px;
  right: 20px;
  color: inherit;
  font-size: 2.2rem;
}
.subscribe-modal .inner-modal .close-modal:hover {
  background: #dddddd;
}
.embed-widgets {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}
.embed-widgets .widget {
  width: 30%;
  height: 350px;
  border: 1px solid #cccccc;
}
.social-popup .inner-modal {
  width: 330px;
  top: 10%;
  transform: translate(-50%, -10%);
}
.social-popup h2 {
  position: relative;
  padding: 8px 10px;
  background-color: #ed1c24;
  color: #ffffff;
  font-size: 2.8rem;
  line-height: 1.5;
  text-align: center;
}
.social-popup h2 span {
  position: absolute;
  top: 21px;
  right: 10px;
  display: block;
  width: 20px;
  height: 20px;
  background: url('../img/articles/close.png');
  -webkit-background-size: cover;
  background-size: cover;
}
.social-popup .embed-popup {
  display: flex;
  flex-wrap: wrap;
}
.social-popup .popup-public {
  display: flex;
  align-items: center;
  width: 50%;
  height: 65px;
  padding-left: 15px;
  font-size: 1.6rem;
  border-bottom: 1px solid #c0c0c0;
}
.social-popup .popup-public:nth-of-type(even) {
  border-left: 1px solid #c0c0c0;
}
.social-popup .popup-public span {
  font-size: 2.6rem;
  min-width: 36px;
}
.social-popup .public-fb {
  color: #2a438b;
}
.social-popup .public-vk {
  color: #3b5f8e;
}
.social-popup .public-ok {
  color: #ff7402;
}
.social-popup .public-tw {
  color: #00aced;
}
.social-popup .public-pi {
  color: #cb2027;
}
.social-popup .public-go {
  color: #dd4c3a;
}
.social-popup .mobile-public {
  display: none;
}
.social-popup .svg-publics {
  width: 30px;
  height: 26px;
  background-image: url('../img/articles/publics-2.svg');
  -webkit-background-size: 450%;
  background-size: 450%;
  background-repeat: no-repeat;
}
.social-popup .svg-vi {
  background-position: -130px 2px;
}
.social-popup .svg-te {
  background-position: -130px -109px;
}
.social-popup .svg-me {
  background-position: -130px -165px;
}
.social-popup .public-vi {
  color: #59267c;
}
.social-popup .public-wa {
  color: #2cb742;
}
.social-popup .public-te {
  color: #63a3dd;
}
.social-popup .public-me {
  color: #457abc;
}
.social-popup .public-pi {
  color: #cb2027;
}
.sticky-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  font-size: 1.4rem;
}
.sticky-popup .popup-item {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 7px 0;
  color: #ffffff;
}
.sticky-popup .facebook {
  background-color: #2a438b;
}
.sticky-popup .facebook span {
  font-size: 3rem;
  margin-right: 5px;
}
.sticky-popup .viber {
  background-color: #7d3daf;
}
.sticky-popup .viber span {
  width: 45px;
  height: 32px;
  background: url('../img/articles/viber.svg') center no-repeat;
  background-size: cover;
}
.ad-block {
  padding: 10px;
  margin-bottom: 25px;
  border: 1px solid #cccccc;
}
.ad-block img {
  max-width: 100%;
}
.inline-ad {
  text-align: center;
  margin-top: 25px;
}
.inline-ad img {
  max-width: 100%;
}
.sticky-ad {
  position: fixed;
  top: 25px;
}
.top-arrow {
  display: none;
  position: fixed;
  z-index: 100;
  bottom: 3px;
  right: 3px;
  height: 50px;
  width: 50px;
  opacity: .5;
  border: 1px solid #000000;
  border-radius: 4px;
  background: #ffffff;
  text-align: center;
  line-height: 50px;
}
.top-arrow span {
  position: relative;
  top: -1px;
  display: flex;
  height: 48px;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
}
.post-article {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.post-header {
  position: relative;
  margin: 10px 0;
  padding: 10px 60px 0;
  text-align: center;
  font-size: 4.8rem;
}
.post-header .post-header-dash {
  content: '';
  display: block;
  width: 41px;
  height: 7px;
  background: url('../img/section-header.png');
  -webkit-background-size: cover;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -4px;
}
.post-header:before {
  content: '';
  display: block;
  width: 41px;
  height: 7px;
  background: url('../img/section-header.png');
  -webkit-background-size: cover;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -4px;
}
.post-header:after {
  content: '';
  display: block;
  width: 41px;
  height: 7px;
  background: url('../img/section-header.png');
  -webkit-background-size: cover;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -4px;
  left: auto;
  right: 0;
}
.first-letter:first-letter {
  font-size: 70px;
  float: left;
  line-height: 60px;
  padding: 4px 12px 0 0;
}
.blue-link {
  color: #00518a;
  text-decoration: underline;
}
.blue-link:hover {
  text-decoration: none;
}
.bold {
  font-weight: bold;
}
.article-block {
  width: 68%;
  color: #444444;
  font-size: 1.8rem;
  line-height: 1.33;
}
.article-block .ad-block {
  width: 50%;
  float: left;
  margin: 0 20px 10px 0;
}
.article-block .sub-header {
  text-align: center;
  font-weight: bold;
  margin-bottom: 8px;
}
.article-block .emphasize-sub-header {
  font-style: italic;
  font-weight: normal;
}
.article-block .article-image {
  text-align: center;
  position: relative;
  margin-bottom: 8px;
}
.article-block .article-image img {
  max-width: 100%;
}
.article-block p {
  margin-bottom: 8px;
  hyphens: auto;
  -ms-hyphens: auto;
}
.article-mistake {
  font-style: italic;
  font-size: 13px;
  line-height: 1;
  opacity: 0.8;
}
.article-link-button {
  display: block;
  padding: 10px;
  font-size: 2.1rem;
  text-align: center;
  color: #ffffff;
}
.next-page-article {
  margin-bottom: 30px;
  background-color: #ed1c24;
}
.next-article {
  margin: 20px;
  padding: 10px;
  background-color: #3ac48f;
  border: 1px solid #204736;
}
.share-article {
  margin-top: 30px;
  border-top: 3px solid #000000;
  border-bottom: 1px solid #000000;
  padding: 10px 0 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 2.1rem;
}
.share-article h4 {
  margin-bottom: 5px;
  width: 100%;
  text-align: center;
}
.share-article .share-public {
  width: 70px;
  height: 60px;
  margin-right: 5px;
  background-image: url('../img/articles/publics.svg');
  background-repeat: no-repeat;
  background-size: 190%;
}
.share-article .facebook-share {
  background-position: -58px -2px;
  background-color: #2a438b;
}
.share-article .facebook-share:hover {
  background-color: transparent;
  background-position: 6px -2px;
}
.share-article .vk-share {
  background-position: -60px -60px;
  background-color: #3b5f8e;
}
.share-article .vk-share:hover {
  background-color: transparent;
  background-position: 2px -59px;
}
.share-article .more {
  background-image: none;
  background-color: #ed1c24;
  color: #ffffff;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  line-height: .9;
}
.share-article .more:hover {
  background-color: transparent;
  border: 1px solid #ed1c24;
  color: #ed1c24;
}
.more-life {
  padding-top: 10px;
  border-bottom: 3px solid #000000;
}
.more-life h3 {
  text-align: center;
  margin-bottom: 10px;
}
.more-life .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.more-life .life-item {
  margin-bottom: 15px;
  width: 31%;
}
.more-life .life-item img {
  max-width: 100%;
  border-bottom: 10px;
}
.more-life .life-item figcaption {
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: 0.2em;
  text-align: center;
}
.embed-more-link {
  display: flex;
  justify-content: center;
}
.more-link {
  margin: 10px 0;
  font-size: 1.8rem;
  text-align: center;
  color: #ed1c24;
  border-bottom: 2px dotted #ed1c24;
}
.footer-mistake {
  font-size: 1.2rem;
}
.share-sign {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 28px;
  height: 27px;
  background: url('../img/articles/download.png') no-repeat center;
  background-size: contain;
}
.subscribe-public {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}
.subscribe-public:hover {
  color: #ffffff;
}
.subscribe-public .formula,
.subscribe-public .facebook,
.subscribe-public .vk {
  padding: 5px 10px;
  width: 30%;
  font-weight: 700;
  font-family: 'PT Sans', sans-serif;
}
.subscribe-public .formula:hover,
.subscribe-public .facebook:hover,
.subscribe-public .vk:hover {
  color: inherit;
}
.subscribe-public .formula {
  color: #63cde8;
  border: 1px solid #63cde8;
}
.subscribe-public .formula:hover {
  background: #63cde8;
  border: 1px solid #63cde8;
}
.subscribe-public .facebook {
  color: #2a438b;
  border: 1px solid #2a438b;
}
.subscribe-public .facebook:hover {
  background: #2a438b;
}
.subscribe-public .vk {
  color: #3b5f8e;
  border: 1px solid #3b5f8e;
}
.subscribe-public .vk:hover {
  background: #3b5f8e;
}
.uppercase {
  text-transform: uppercase;
}
.pointer {
  cursor: pointer;
}
/*end hover effects and manipulations, etc..*/
@media screen and (max-width: 1199px) {
  .container {
    width: 930px;
  }
}
@media screen and (max-width: 959px) {
  .container {
    width: 700px;
  }
  .nav-border {
    display: none;
  }
  .hide-text {
    display: none;
  }
  .subscribe-public .formula:after {
    display: inline;
    content: 'Формулу Любви';
  }
}
@media screen and (max-width: 750px) {
  .container {
    width: 80%;
  }
  .post-header {
    font-size: 3.4rem;
    line-height: 1;
    padding: 0 5px;
    margin-top: 0;
  }
  .post-header:before,
  .post-header:after {
    display: none;
  }
  .article-block {
    width: 100%;
  }
  .article-block .article-image img {
    width: 100%;
  }
  .article-mistake {
    display: none;
  }
  .next-article {
    margin: 0;
  }
  .share-article {
    border-bottom: none;
  }
  .more-life {
    border-bottom: none;
  }
  .more-life .life-item {
    width: 100%;
  }
  .more-life .life-item img {
    width: 100%;
  }
  .social-popup .popup-public:nth-of-type(even),
  .social-popup .svg-publics {
    border-left: none;
  }
  .social-popup .popup-public:nth-child(-n+5) {
    border-right: 1px solid #c0c0c0;
  }
  .social-popup .mobile-public {
    display: flex;
  }
  .social-popup .public-fb {
    order: 1;
  }
  .social-popup .public-vi {
    order: 2;
  }
  .social-popup .public-vk {
    order: 3;
  }
  .social-popup .public-wa {
    order: 4;
  }
  .social-popup .public-ok {
    order: 5;
  }
  .social-popup .public-te {
    order: 6;
  }
  .social-popup .public-tw {
    order: 7;
  }
  .social-popup .public-me {
    order: 8;
  }
  .social-popup .public-pi {
    order: 9;
  }
  .social-popup .public-go {
    order: 10;
  }
  .article-preview-hover {
    transform: none;
  }
  .article-preview-hover:hover {
    transform: none;
  }
}
@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
  .post-header {
    font-size: 2.6rem;
  }
  .article-block {
    padding: 0 10px;
  }
  .subscribe-public .facebook,
  .subscribe-public .vk {
    display: none;
  }
  .subscribe-public .formula {
    width: 100%;
  }
}
@media handheld, only screen and (max-device-width: 959px) {
  .sticky-popup {
    display: flex;
    opacity: 0;
    transition: opacity .5s ease;
  }
  .show-sticky-popup {
    opacity: 1;
    transition: opacity .5s ease;
  }
}
(node:3843) DeprecationWarning: util.print is deprecated. Use console.log instead.
