@import "reset";
@import "variables";

/*Construction elements*/

.container {
  margin: 0 auto;
  width: 1090px;
}

.clearfix {
  &:after {
    display: table;
    content: '';
    clear: both;
  }
}

/*End construction elements*/

/*Element properties*/

.border-thick {
  border: 3px solid @black;
}

.border-thin {
  border: 1px solid @black;
}

.nav-border {
  height: 4px;
  background: @black;
}

/*End element properties*/

/*Hover effects, manipulations, miscellaneous and other*/

.red-hover {
  &:hover {
    color: @red;
  }
}

.social-hover {
  transition: all .2s ease;
  transform: scale(1);
  &:hover {
    transition: all .2s ease;
    transform: scale(1.1);
  }
}

.article-preview-hover {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  transition: transform .5s ease;
  &:hover {
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
    transition: transform .5s ease;
  }
}

.best-videos-preview {
  img {
    transition: opacity .7s ease-in-out;
  }
  .round {
    opacity: .5;
    transition: opacity .1s ease;
  }
  &:hover {
    img {
      background: @yellow;
      opacity: 0.5;
      transition: opacity .7s ease-in-out;
    }
    .round {
      opacity: 1;
      transition: opacity .1s ease;
    }
  }
}

.visible {
  opacity: 1;
  transition: opacity .6s ease;
}

.invisible {
  opacity: 0;
  transition: opacity .6s ease;
}

.red-arrow {
  &:after {
    display: block;
    content: '';
    opacity: 0;
    position: absolute;
    left: 35%;
    bottom: 0;
    z-index: 100;
    width: 0;
    border-width: 0 10px 10px;
    border-style: solid;
    border-color: transparent transparent @red;
  }
  &:last-of-type{
    &:after {
      left: 40%;
    }
  }
}

.search-input {
  position: relative;
  z-index: 1;
  right: -100%;
  padding-left: 1.1em;
  max-width: 160px;
  height: 50px;
  letter-spacing: @letter-spacing-main;
  font-size: @18;
  background-color: @search-box;
  transition: all .3s;
}

.show-input {
   right: 0;
   transition: all .3s;
}

.page-wrap {
  position: relative;
  overflow: hidden;
}

.page-box {
  transition: all .5s ease;
  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .2);
    opacity: 0;
    transition: opacity .5s ease;
  }
}

.transformed-content {
  transition: all .5s ease;
  transform: translate3d(45%, 0, 0);
  &:after {
    opacity: 1;
    transition: opacity 0.5s ease;
  }
}

.offcanvas {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 45%;
  background: @medium-black;
  box-shadow: inset -1.5em 0 1.5em -.75em rgba(0, 0, 0, .5);
  color: @medium-gray;
  transition: transform .5s ease;
  transform: translate3d(-101%, 0, 0);
  a {
    color: inherit;
  }
  input {
    margin: 1px 2%;
    padding-left: .5em;
    width: 96%;
    background: @light-gray;
    font-size: @18;
    line-height: 1.66;
  }
  li {
    border-bottom: 1px solid @light-black;
    a {
      display: block;
      padding: 1.5em 2%;
      font-size: @12;
      font-family: @secondary-font;
      letter-spacing: @letter-spacing-main;
      &:hover {
        color: @white;
        background: rgba(255, 255, 255, 0.1);
      }
    }
  }
  .fa-chevron-down {
    padding-left: 5px;
  }
  .offcanvas-dropdown {
    display: none;
    position: relative;
    a {
      padding: 1.2em 3em;
    }
  }
}

.show-offcanvas {
  transition: transform .5s ease;
  transform: translate3d(0, 0, 0);
}

.placeholder-custom {
  &::-webkit-input-placeholder {
    color: @black;
  }
  &::-moz-placeholder {
    color: @black;
  }
  &:-ms-input-placeholder {
    color: @black;
  }
  &:-moz-placeholder {
    color: @black;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .7);
  .inner-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: @white;
  }
}

.subscribe-modal {
  .inner-modal {
    width: 850px;
    padding: 20px;
    color: @gray;
    h3 {
      text-align: center;
      font-size: @18;
    }
    .send-email {
      display: flex;
      justify-content: center;
      input {
        width: 40%;
        margin-right: 10px;
        padding: 10px;
        border: 1px solid @light-gray;
        font-size: @18;
      }
      button {
        position: relative;
        padding: 0 2.1em;
        letter-spacing: @letter-spacing-main;
        font-size: @12;
        border: 1px solid @black;
        &:hover {
          box-shadow: 1px 1px 0 @black;
        }
        &:active {
          top: 1px;
        }
      }
    }
    .close-modal {
      padding: 4px 6px;
      position: absolute;
      top: 17px;
      right: 20px;
      color: inherit;
      font-size: @22;
      &:hover {
        background: @lighter-gray;
      }
    }
  }
}

.embed-widgets {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  .widget {
    width: 30%;
    height: 350px;
    border: 1px solid @light-gray;
  }
}

.social-popup {
  .inner-modal {
    width: 330px;
    top: 10%;
    transform: translate(-50%, -10%);
  }
  h2 {
    position: relative;
    padding: 8px 10px;
    background-color: @red;
    color: @white;
    font-size: @28;
    line-height: 1.5;
    text-align: center;
    span {
      position: absolute;
      top: 21px;
      right: 10px;
      display: block;
      width: 20px;
      height: 20px;
      background: url('../img/articles/close.png');
      -webkit-background-size: cover;
      background-size: cover;
    }
  }
  .embed-popup {
    display: flex;
    flex-wrap: wrap;
  }
  .popup-public {
    display: flex;
    align-items: center;
    width: 50%;
    height: 65px;
    padding-left: 15px;
    font-size: @16;
    border-bottom: 1px solid @silver;
    &:nth-of-type(even) {
      border-left: 1px solid @silver;
    }
    span {
      font-size: @26;
      min-width: 36px;
    }
  }
  .public-fb {
    color: @facebook;
  }
  .public-vk {
    color: @vk;
  }
  .public-ok {
    color: @ok;
  }
  .public-tw {
    color: @twitter;
  }
  .public-pi {
    color: @pinterest;
  }
  .public-go {
    color: @google;
  }
  .mobile-public {
    display: none;
  }
  .svg-publics {
    width: 30px;
    height: 26px;
    background-image: url('../img/articles/publics-2.svg');
    -webkit-background-size: 450%;
    background-size: 450%;
    background-repeat: no-repeat;
  }
  .svg-vi {
    background-position: -130px 2px;
  }
  .svg-te {
    background-position: -130px -109px;
  }
  .svg-me {
    background-position: -130px -165px;
  }
  .public-vi {
    color: @viber;
  }
  .public-wa {
    color: @whatsapp;
  }
  .public-te {
    color: @telegram;
  }
  .public-me {
    color: @messenger;
  }
  .public-pi {
    color: @pinterest
  }
}

.sticky-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  font-size: @14;
  .popup-item {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 7px 0;
    color: @white;
  }
  .facebook {
    background-color: @facebook;
    span {
      font-size: @30;
      margin-right: 5px;
    }
  }
  .viber {
    background-color: #7d3daf;
    span {
      width: 45px;
      height: 32px;
      background: url('../img/articles/viber.svg') center no-repeat;
      background-size: cover;
    }
  }
}

.ad-block {
  padding: 10px;
  margin-bottom: 25px;
  border: 1px solid @light-gray;
  img {
    max-width: 100%;
  }
}

.inline-ad {
  text-align: center;
  margin-top: 25px;
  img {
    max-width: 100%;
  }
}

.sticky-ad {
  position: fixed;
  top: 25px;
}

.top-arrow {
  display: none;
  position: fixed;
  z-index: 100;
  bottom: 3px;
  right: 3px;
  height: 50px;
  width: 50px;
  opacity: .5;
  border: 1px solid @black;
  border-radius: 4px;
  background: @white;
  text-align: center;
  line-height: 50px;
  span {
    position: relative;
    top: -1px;
    display: flex;
    height: 48px;
    justify-content: center;
    align-items: center;
    font-size: @35;
  }
}

.post-article {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.post-header {
  position: relative;
  margin: 10px 0;
  padding: 10px 60px 0;
  text-align: center;
  font-size: @48;
  .post-header-dash {
    content: '';
    display: block;
    width: 41px;
    height: 7px;
    background: url('../img/section-header.png');
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -4px;
  }
  &:before {
    .post-header-dash;
  }
  &:after {
    .post-header-dash;
    left: auto;
    right: 0;
  }
}

.first-letter {
  &:first-letter {
    font-size: 70px;
    float: left;
    line-height: 60px;
    padding: 4px 12px 0 0;
  }
}

.blue-link {
  color: @blue-link;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

.bold {
  font-weight: bold;
}

.article-block {
  width: 68%;
  color: @gray;
  font-size: @18;
  line-height: 1.33;
  .ad-block {
    width: 50%;
    float: left;
    margin: 0 20px 10px 0;
  }
  .sub-header {
    text-align: center;
    font-weight: bold;
    margin-bottom: 8px;
  }
  .emphasize-sub-header {
    font-style: italic;
    font-weight: normal;
  }
  .article-image {
    text-align: center;
    position: relative;
    margin-bottom: 8px;
    img {
      max-width: 100%;
    }
  }
  p {
    margin-bottom: 8px;
    hyphens: auto;
    -ms-hyphens: auto;
  }
}

.article-mistake {
  font-style: italic;
  font-size: 13px;
  line-height: 1;
  opacity: 0.8;
}

.article-link-button {
  display: block;
  padding: 10px;
  font-size: @21;
  text-align: center;
  color: @white;
}

.next-page-article {
  margin-bottom: 30px;
  background-color: @red;
}

.next-article {
  margin: 20px;
  padding: 10px;
  background-color: @lightseagreen;
  border: 1px solid @seagreen;
}

.share-article {
  margin-top: 30px;
  border-top: 3px solid @black;
  border-bottom: 1px solid @black;
  padding: 10px 0 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: @21;
  h4 {
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
  }
  .share-public {
    width: 70px;
    height: 60px;
    margin-right: 5px;
    background-image: url('../img/articles/publics.svg');
    background-repeat: no-repeat;
    background-size: 190%;
  }
  .facebook-share {
    background-position: -58px -2px;
    background-color: @facebook;
    &:hover {
      background-color: transparent;
      background-position: 6px -2px;
    }
  }
  .vk-share {
    background-position: -60px -60px;
    background-color: @vk;
    &:hover {
      background-color: transparent;
      background-position: 2px -59px;
    }
  }
  .more {
    background-image: none;
    background-color: @red;
    color: @white;
    text-align: center;
    font-size: @40;
    font-weight: bold;
    line-height: .9;

    &:hover {
      background-color: transparent;
      border: 1px solid @red;
      color: @red;
    }
  }
}

.more-life {
  padding-top: 10px;
  border-bottom: 3px solid @black;
  h3 {
    text-align: center;
    margin-bottom: 10px;
  }

  .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .life-item {
    margin-bottom: 15px;
    width: 31%;
    img {
      max-width: 100%;
      border-bottom: 10px;
    }
    figcaption {
      font-size: @12;
      line-height: 1.5;
      letter-spacing: @letter-spacing-main;
      text-align: center;
    }
  }
}

.embed-more-link {
  display: flex;
  justify-content: center;
}

.more-link {
  margin: 10px 0;
  font-size: @18;
  text-align: center;
  color: @red;
  border-bottom: 2px dotted @red;
}

.footer-mistake {
  font-size: @12;

}


.share-sign {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 28px;
  height: 27px;
  background: url('../img/articles/download.png') no-repeat center;
  background-size: contain;
}

.subscribe-public {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
  &:hover {
    color: @white;
  }
  .formula, .facebook, .vk {
    padding: 5px 10px;
    width: 30%;
    font-weight: 700;
    font-family: @primary-font;
    &:hover {
      color: inherit;
    }
  }
  .formula {
    color: @formula;
    border: 1px solid @formula;
    &:hover {
      background: @formula;
      border: 1px solid @formula;
    }
  }
  .facebook {
    color: @facebook;
    border: 1px solid @facebook;
    &:hover {
      background: @facebook;
    }
  }
  .vk {
    color: @vk;
    border: 1px solid @vk;
    &:hover {
      background: @vk;
    }
  }
}

.uppercase {
  text-transform: uppercase;
}

.pointer {
  cursor: pointer;
}

/*end hover effects and manipulations, etc..*/




@media screen and (max-width: 1199px) {
  .container {
    width: 930px;
  }
}

@media screen and (max-width: 959px) {
  .container {
    width: 700px;
  }
  .nav-border {
    display: none;
  }
  .hide-text {
    display: none;
  }
  .subscribe-public {
    .formula {
      &:after {
        display: inline;
        content: 'Формулу Любви';
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .container {
    width: 80%;
  }
  .post-header {
    font-size: @34;
    line-height: 1;
    padding: 0 5px;
    margin-top: 0;
    &:before,
    &:after {
      display: none;
    }
  }
  .article-block {

    width: 100%;
    .article-image {
      img {
        width: 100%;
      }
    }
  }
  .article-mistake {
    display: none;
  }
  .next-article {
    margin: 0;
  }
  .share-article {
    border-bottom: none;
  }
  .more-life {
    border-bottom: none;
    .life-item {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
  .social-popup {

    .popup-public:nth-of-type(even),
    .svg-publics {
      border-left: none;
    }
    .popup-public {
      &:nth-child(-n+5) {
        border-right: 1px solid @silver;
      }
    }
    .mobile-public {
      display: flex;
    }
    .public-fb {
      order: 1;
    }
    .public-vi {
      order: 2;
    }
    .public-vk {
      order: 3;
    }
    .public-wa {
      order: 4;
    }
    .public-ok {
      order: 5;
    }
    .public-te {
      order: 6;
    }
    .public-tw {
      order: 7;
    }
    .public-me {
      order: 8;
    }
    .public-pi {
      order: 9;
    }
    .public-go {
      order: 10;
    }
  }
  .article-preview-hover {
    transform: none;
    &:hover {
      transform: none;
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
  .post-header {
    font-size: @26;
  }

  .article-block {
    padding: 0 10px;
  }

  .subscribe-public {
    .facebook,
    .vk {
      display: none;
    }
    .formula {
      width: 100%;
    }
  }
}

@media handheld, only screen and (max-device-width: 959px) {
  .sticky-popup {
    display: flex;
    opacity: 0;
    transition: opacity .5s ease;
  }
  .show-sticky-popup {
    opacity: 1;
    transition: opacity .5s ease;
  }
}