@import "core";

html, body {
  font-family: @primary-font;
  font-size: 10px;
}

body {
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
}

header {
  padding-top: 15px;
  margin-bottom: 15px;
  nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      margin-bottom: 15px;
      width: 120px;
    }

    .menu {
      display: flex;
      flex-direction: column;
      align-self: flex-end;
    }

    .primary-menu,
    .secondary-menu{
      li {
        display: inline-block;
      }
      a {
        letter-spacing: @letter-spacing-main;
      }
    }
    .secondary-menu {
      padding: 0 3.5em;
      font-size: @12;
      border-bottom: 1px solid @black;
      a {
        display: block;
        padding: 1em 1.25em;
      }
    }
    .primary-menu {
      display: flex;
      justify-content: center;
      line-height: 2.28;
      font-size: @22;
      li {
        position: relative;
        padding: 0 .68em;
        &:after {
          display: inline-block;
          content: '/';
          position: relative;
          top: -2px;
          padding-left: 13px;
          color: @whitesmoke;
        }
        &:last-of-type {
          &:after {
            display: none;
          }
        }
        &:hover {
          .dropdown {
            display: block;
          }
          .red-arrow {
            color: inherit;
            &:after {
              opacity: 1;
            }
          }
        }
      }
      a {
        display: inline-block;
      }
    }
    .dropdown {
      display: none;
      position: absolute;
      z-index: 10;
      left: 50%;
      transform: translate(-55%);
      min-width: 160px;
      width: 100%;
      border: 2px solid @black;
      border-top: 3px solid @red;
      background: @white;
      font-size: @14;
      li {
        padding: 0;
        &:after {
          display: none;
        }
      }
      a {
        display: block;
        padding: .85em;
        line-height: 1.14;
      }
    }
    .embed-subscribe {
      display: flex;
      align-self: flex-start;
      button {
        margin-top: 7px;
        padding: 0 .77em;
        border: 1px solid @black;
        line-height: 3.54;
        font-size: @13;
      }
    }
    .embed-search {
      overflow: hidden;
      display: flex;
      align-items: center;
      position: absolute;
      bottom: 0;
      right: 0;
      span {
        position: relative;
        z-index: 2;
        display: flex;
        align-self: stretch;
        width: 50px;
        height: 50px;
        color: @search-box;
        background: @white;
        font-size: @22;
        &:before {
          margin: auto;
        }
      }
    }
  }
  .mobile-nav {
    display: none;
    .toggle-offcanvas {
      color: @medium-gray;
      font-size: @28;
    }
    .logo-mobile {
      margin-left: 10px;
      img {
        height: 30px;
        max-width: 100%;
      }
    }
    .social-buttons {
      margin: 0 0 0 auto;
      font-size: @26;
      span {
        padding-left: 10px;
      }
      .fa-facebook {
        color: @facebook;
      }
      .fa-vk {
        color: @vk;
      }
      .fa-odnoklassniki {
        color: @ok;
      }
    }
  }
}

main {
  display: flex;

  .embed-articles {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    article {
      width: 45%;
      letter-spacing: @letter-spacing-article;
      line-height: 1.5;
      margin-bottom: 30px;
      &:nth-of-type(2n) {
        margin-left: 30px;
      }
      figure {
        display: flex;
        flex-direction: column;
      }
      .preview-link {
        display: block;
        margin: auto auto 10px auto;
        max-height: 170px;
        overflow: hidden;
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
      figcaption {
        text-align: center;
        font-size: @18;
        .post-scriptum {
          margin-top: 5px;
          color: @gray;
          span {
            padding-right: 5px;
            opacity: 0.6;
          }
        }
      }
    }
  }
}

aside {
  width: 30%;
  margin: 0 0 0 auto;
  .top-rated-videos {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    padding: 25px;
    border: 1px solid @black;
    text-align: center;
    .top-rated-videos-link {
      margin-bottom: 5px;
      font-size: @18;
      letter-spacing: @letter-spacing-main;
    }
    .video-row {
      display: flex;
      justify-content: space-between;
      &:first-of-type {
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid black;
      }
      figure {
        width: 45%;
        a {
          display: block;
        }
        img {
          display: flex;
          max-width: 100%;
        }
        h4 {
          font-size: @14;
          line-height: 1.5;
        }
        .overlay {
          position: relative;
        }
        .round {
          position: absolute;
          height: 45px;
          width: 45px;
          border-radius: 50%;
          background: rgba(0, 0, 0, 1);
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 24px;
          color: white;
          span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          .fa-play {
            transform: translate(-43%, -51%);
          }
          .fa-camera {
            transform: translate(-51%, -53%);
          }
          .fa-comment {
            transform: translate(-50%, -60%);
          }
        }
      }
    }
  }
}

footer {
  padding: 30px 0;
  background-color: @footer-black;
  color: @medium-gray;
  font-size: @12;
  .menus {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-menu {
    display: flex;
    justify-content: space-between;
  }
  .links {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
  .disclaimer {
    margin: auto 0 0 0;
    letter-spacing: @letter-spacing-footer;
    line-height: normal;
  }
  ul {
    margin-bottom: 5px;
    letter-spacing: @letter-spacing-main;
    &:first-of-type {
      display: flex;
      flex-wrap: wrap;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    &:last-of-type {
      a {
        text-decoration: none;
      }
    }
  }
  li {
    display: inline-block;
    padding-left: 13px;
    &:first-of-type{
      padding-left: 0;
    }
    &:hover {
      a {
        text-decoration: none;
      }
    }
    > a {
      color: inherit;
      text-decoration: underline;
    }
  }

  .footer-mistake {
    margin: 0 0 0 auto;
    padding: 5px 10px;
    text-align: center;
    border: 1px solid;
    p {
      span {
        font-size: @20;
      }
    }
  }

}

@media screen and (max-width: 1199px) {
  header {
    nav {
      .secondary-menu {
        padding: 0 1em;
      }
    }
  }
  aside {
    .top-rated-videos {
      .video-row {
        flex-direction: column;
        figure {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 959px) {
  header {
    nav {
      display: none;
    }
    .mobile-nav {
      display: flex;
    }
  }

  footer {
    .footer-mistake {
      display: flex;
      align-self: flex-start;
    }
  }
}

@media screen and (max-width: 750px) {
  header {
    box-shadow: 1px 1px 1px 1px @light-gray;
    .mobile-nav {
      padding-bottom: 10px;
    }
  }

  aside {
    display: none;
  }

  main {
    .embed-articles {
      width: 100%;
      article {
        width: 100%;
        &:nth-of-type(2n) {
          margin-left: 0;
        }
        .preview-link {
          width: 100%;
          max-height: none;
          img {
            width: 100%;
          }
        }
      }
    }
  }

  footer {
    .links {
      width: 100%;
    }
    .footer-mistake {
      display: none;
    }
    li {
      padding: 5px 15px;
      &:first-of-type {
        padding-left: 15px;
      }
    }
    .disclaimer {
      padding: 0 15px;
    }
  }
}

@media screen and (max-width: 480px) {
  header {
    .mobile-nav {
      padding: 0 7px 10px;
    }
  }
}