/*Colors*/

@black: #000;
@footer-black: #222;
@medium-black: #242628;
@light-black :#343133;
@gray: #444;
@medium-gray: #8c919b;
@silver: #c0c0c0;
@light-gray: #ccc;
@lighter-gray: #ddd;
@red: #ed1c24;
@yellow: #ffcc0d;
@lightseagreen: #3ac48f;
@seagreen: #204736;


@white: #fff;
@whitesmoke: #eee;

@formula: #63cde8;
@facebook: #2a438b;
@vk: #3b5f8e;
@ok: #ff7402;
@twitter: #00aced;
@pinterest: #cb2027;
@google: #dd4c3a;
@viber: #59267c;
@whatsapp: #2cb742;
@telegram: #63a3dd;
@messenger: #457abc;



@search-box: #dcddd8;
@blue-link: #00518a;
/*End colors*/

/*Fonts*/

@primary-font: 'PT Sans', sans-serif;
@secondary-font: 'Arial', sans-serif;

@12: 1.2rem;
@13: 1.3rem;
@14: 1.4rem;
@16: 1.6rem;
@18: 1.8rem;
@20: 2rem;
@21: 2.1rem;
@22: 2.2rem;
@24: 2.4rem;
@26: 2.6rem;
@28: 2.8rem;
@30: 3rem;
@34: 3.4rem;
@35: 3.5rem;
@40: 4rem;
@48: 4.8rem;

@letter-spacing-main: .2em;
@letter-spacing-article: .05em;
@letter-spacing-footer: 1px;